body {
    margin:0; 
}

.red {
    background: #c71226;
    height: 100px;
    
}

.blue {
    background: #0d1b88;
    height: 100px;
}

.green {
    background: #397327;
    height: 100px;
}

.red-circle {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background: #BC002D;
    
   /* 40px controls vertical and auto controls horizonal */
    margin: 40px auto;
    
}