body {
    background-color: #a2d2ff;
    text-align: center; /* will only center inline elements in a container */
    font-family: 'Happy Monkey', cursive;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#face {
    width: 150px;
    border-radius: 50%;
    border: 1px solid #efb0c9;
}

/* element selectors
h1, h2, h3, h4, p {
    text-shadow: 0px 0px 1px #000;
}

h2, h4 {
    background: #efb0c0;
}
*/

/*id selectors */

#age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
   
    margin-top: 5px 0 10px 0;
}


#date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    
}

#header {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
  margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}
.gift-hint {
    margin-top:0px;
}

.gift-img {
margin: 0 auto;
 width: 400px;
 border: 6px solid white;
 border-radius: 10px;
 background-image: url(gift-box.png);
 background-size: cover;
 height: 400px;
 width: 400px;
}

#hb:hover {
    background-image: url(hb.webp);
}