

<img class="card_img" data-ng-src="{{ appModel.image }}" alt="{{appModel.name}}" itemprop="image">
<h1 class="card_title">Other Accounts</h1>

 



<div data-ng-tags>
    <span class="tag"><a href="https://instagram.com/INNERTEL"><img src="http://lalo.sdf.org/app/images/logos/INNERTEL.jpeg" class="circle" ></a></span>
    <span class="tag"><a href="https://instagram.com/ANewPortal"><img src="http://lalo.sdf.org/app/images/logos/ANewPortal.jpeg" class="circle" ></a></span>
    <span class="tag"><a href="https://instagram.com/The.Verve"><img src="http://lalo.sdf.org/app/images/logos/TheVerve.jpeg" class="circle"  ></a></span>
    <span class="tag"><a href="https://instagram.com/GEM.NIS"><img src="http://lalo.sdf.org/app/images/logos/Geminis.jpeg" class="circle"  ></a></span>
    <span class="tag"><a href="https://WIMT.tumblr.com/"><img src="http://lalo.sdf.org/app/images/logos/WIMT.jpeg" class="circle"  ></a></span>
 
</div>


<ul>
    <i class="fa-brands fa-apple"></i>
    <i class="fa-brands fa-linux"></i>
    <i class="fa-brands fa-fedora"></i>
    <i class="fa-brands fa-microsoft"></i>
    
    <i class="fa-brands fa-google"></i>
    
    <i class="fa-brands fa-meta"></i>
    <i class="fa-brands fa-docker"></i>
    
    <i class="fa-brands fa-firefox-browser"></i>

    <i class="fa-brands fa-x-twitter"></i>
    </ul>