<img class="card_img" data-ng-src="{{ appModel.image }}" alt="{{appModel.name}}" itemprop="image">

 
<img class="card_draw" src="app/images/lalo.png" alt="{{appModel.name}}" itemprop="image">
 
<!-- <h1 class="card_title" itemprop="name" data-ng-switch="display" ng-animate="'animate'">

    <span data-ng-switch-when="name">{{appModel.name}}</span>
    <span data-ng-switch-when="nickname">{{appModel.nickname}}</span>

</h1>
-->


<h1 class="card_title" itemprop="name">{{ appModel.name }} <img src="app/images/verified.png" height="30px" alt="Verified account"></h1>

<h2 class="card_subtitle" itemprop="jobTitle">{{ appModel.bio }}</h2>

 
<div class="icons" data-ng-include="'app/views/social.html'"></div>
 
