body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000;
    color: #3d3d3d;
}

@font-face {
    src: url("MIB.ttf");
    font-family: MIB;
}

h1 {
    font-family:  MIB;
    color: #3b3b3b;
    font-size: 60px;
    letter-spacing: 2px;
    padding: 0px;
}

h2 {
    font-family:  'Courier New', Courier, monospace;
    font-size: 14px;
    border: 1px solid #3d3d3d;
    border-radius: 10px;
    padding: 10px;
}

img {
     width: 350px;
}

#logo {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
 }

.blink {
    width: 350px;
    border: 5px solid #3b3b3b;
    border-radius: 1000px;
}

.blink:hover {
    border: 5px solid #4a4a4a;
}

.input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus {
    background-color: #000 !important;
}
.gsc-input {
    background-color: black !important;
    color: #9E9E9E !important;
    font-family:  'Courier New', Courier, monospace !important; 
}

.gsc-results  {
    background-color: black !important;
    font-family:  'Courier New', Courier, monospace !important;
}


.gs-webResult:not(.gs-no-results-result):not(.gs-error-result) .gs-snippet, .gs-fileFormatType {
    content-visibility: hidden !important;
}

.gcsc-find-more-on-google {
    display: none !important;
}
  

.gsst_a .gscb_a {
    color: #00cc00 !important;
}

.gsc-tabHeader.gsc-tabhActive {
    background-color: rgb(34 33 32) !important;
    border-bottom: 0px solid #fff !important;
}
@media only screen and (max-width: 400px) {
    #logo {
        width: 100%;
    }
}