body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000;
    color: #fff;
}

h1 {
    font-family:  'Courier New', Courier, monospace;
    font-size: 14px;
    border: 1px solid #000;
    border-radius: 10px;
    
    padding: 10px;
}

img {
     width: 350px;
}

 .logo {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
     
    
 }

.blink {
    width: 350px;
    border: 5px solid #3b3b3b;
    border-radius: 1000px;
}

.blink:hover {
    border: 5px solid #4a4a4a;
}


@media only screen and (max-width: 400px) {
    img  {
        width: 70%;
    }

    .blink  {
        width: 70%;
    }
}