body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000;
    color: #3d3d3d;

}

@font-face {
    src: url("MIB.ttf");
    font-family: MIB;
}

h1 {
    font-family:  MIB;
    color: #3b3b3b;
    font-size: 60px;
    letter-spacing: 2px;
    padding: 0px;
}

h2 {
    font-family:  'Courier New', Courier, monospace;
    font-size: 14px;
    border: 1px solid #3d3d3d;
    border-radius: 10px;
    padding: 10px;
}

img {
     width: 350px;
}

#logo {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
 }

 .logo_text { 
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
 }

 #search {
    display: none; 
 }

.blink {
    width: 350px;
    border: 5px solid #3b3b3b;
    border-radius: 1000px;
}

.blink:hover {
    border: 5px solid #4a4a4a;
}
 

/*
.gsc-search-button {
    width: auto;
    padding: 11px 10px;
    margin: 0;
    border-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
*/

table.gsc-search-box td.gsc-input {
    padding: 0px !important;
}

.input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus {
    background-color: #000 !important;
    border-radius: 8px 0 0 8px !important;
    padding-bottom: 0px !important;
    padding-top: 5px !important;
}

.gsc-search-button {
    margin-left: 0px !important;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
}

.gsib_a {
    background-color: transparent !important;
    border-radius: 10px !important;
}

.gsc-search-button-v2 {
    padding: 8px 27px !important;
    margin-top: 0px !important;
}
.gsc-input {
    background-color: black !important;
    color: #9E9E9E !important;
    font-family:  'Courier New', Courier, monospace !important; 
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;

    /*
    padding-top: 6px;
    padding-bottom: 5px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    */

}

.gsc-results  {
    background-color: black !important;
}

.gs-webResult div.gs-visibleUrl {

    font-family:  'Courier New', Courier, monospace !important;

}

.gs-webResult:not(.gs-no-results-result):not(.gs-error-result) .gs-snippet, .gs-fileFormatType {
    content-visibility: hidden !important;
}

.gsc-adBlock {
    display: none !important;
}

.gs-imageResult .gs-image-box .gs-image {
    width: 100% !important;
}
.gcsc-find-more-on-google-root {
    display: none !important;
}

.gcsc-find-more-on-google {
    display: none !important;
}

.gcsc-more-maybe-branding-box {
  border:   0px solid #dfe1e5 !important;
}

.gsst_a .gscb_a {
    color: #00b7cc !important;
}

.gsc-tabHeader.gsc-tabhActive {
    background-color: rgb(34 33 32) !important;
    border-bottom: 0px solid #fff !important;
}

 
.gsc-results .gsc-cursor-box .gsc-cursor-page {
    border: 1px solid #ccc;
    border-radius: 5px !important;
    padding: 5px !important;
}

@media only screen and (max-width: 400px) {

    body {
        align-items: stretch !important;
    }

    #logo {
        width: 100%;
    }
}