.group:before, .group:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.group:after { clear: both; }  
.group { zoom: 1; }  

body {
    font: normal 100% "lucida grande",tahoma,verdana,arial,sans-serif;
}

p {
	font-size: .8em;
}

#sidebar {
  width: 30%;
  float: right;
}

#main {
  width: 70%;
  float: left;
}

h2.label {
  width: 55%;
  font: Normal 1.2em/1.0em Exo,sans-serif;
  background: #3B5998;
  padding: 6px;
  margin: 15px 0px 10px 0px;
  color: white;
  text-align: left;
}

#videogroup .first h3 {
  font: normal 1.5em/1.0em Exo,sans-serif;
  color: #3B5998;
  margin: 0;
  margin-bottom: 10px;
}

#videogroup .first p {
  font: normal .9em/1.3em "lucida grande",tahoma,verdana,arial,sans-serif;
}

#videogroup .first iframe {
  width: 100%;
  height:200px;
  padding: 0;
}



#videogroup .first h3 {
  font: normal 1.5em/1.0em Exo,sans-serif;
  color: #3B5998;
  margin: 0;
  margin-bottom: 10px;
}

#videogroup .first p {
  font: normal .9em/1.3em "lucida grande",tahoma,verdana,arial,sans-serif;
}

#videogroup ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#videogroup li {
  width: 50%;
  float: left;
  border: none;
  position: relative;
}

#videogroup .first iframe {
  width: 100%;
  height:200px;
  padding: 0;
}

#videogroup li .entriestitle {
  padding: 0 5px;
  position: absolute;
  left:-110%;
  top:0;
  display: none;
}
 
#videogroup li:hover .entriestitle {
  display: block;
  width: 100%;
  background: #3B5998;
  color: #FFF;
  padding: 10px;
  opacity: .9;
  z-index: 100;
  right: 0;
}
